.example-full-width {
    width: 80%;
    height: 100%;
}

.frame {
    width: auto;
    height: auto;
}

.url {
    width: 80%;
}

.btn button {
    margin-left: 3em;
}

.button {
    margin-left: 50em;
}